In [2]:
import pandas as pd
import fuzzy_pandas as fpd

#read data into 2 pandas dataframe
df1 = pd.read_csv("table1.csv")
df2 = pd.read_csv("table2.csv")

#since CUSTOMER_NAME includes buyer/seller, it would be better to segregate it and create a new
#dataframe df3 with separated names
df3 = pd.DataFrame(df1.CUSTOMER_NAME.str.split('(',1).tolist(),
                                 columns = ['CUSTOMER_NAMES','BUYERORSELLER'])
#combining df1 and df3 into one dataframe df4
df4 = pd.concat([df1, df3], axis=1, sort=False)

#using merge function of fuzzy function to find copies
matches = fpd.fuzzy_merge(df4, df2,
                          left_on=['CUSTOMER_NAMES'],
                          right_on=['NAME'],
                          keep_left = df1.columns.tolist(),
                          keep_right = df2.columns.tolist(),
                          ignore_case=True,
                          ignore_order_words=True,
                          method = 'levenshtein',
                          threshold = 0.74,
                                
                          )

#since table2.csv contains some unformatted data which will create NaN values
#matches.dropna() is used to drop NaN values
matches=matches.dropna()
print(matches.dropna())

#writing resulting dataframe into 
matches.to_csv('final', index=False)

                  CUSTOMER_NAME  CUSTOMER_SINCE PAYMENT_METHOD  \
0      Anderson, Billy  (BUYER)            2017           VISA
1    Corkland, Bill A.  (BUYER)            2011           VISA
2         Erhnst, Anne  (BUYER)            2010           VISA
3      Franklin, Annie  (BUYER)            2006           VISA
4   Garfield, Chris H.  (BUYER)            2011           VISA
6     Johnstin, Freddy  (BUYER)            2019           VISA
7         Jones, Colin  (BUYER)            2010     MASTERCARD
8        Rich, John R.  (BUYER)            2007     MASTERCARD
9       Anderson, Anne  (BUYER)            2005     MASTERCARD
10     Corkland, Sarah  (BUYER)            2013           AMEX
11        Erhnst, John  (BUYER)            2010          CHECK
12  Franklin, Chris H. (SELLER)            2012          CHECK
13    Garfield, Freddy (SELLER)            2012          CHECK
14     Johnstin, Colin (SELLER)            2015          CHECK
15      Jones, John R. (SELLER)            2012          CHECK
16            Rich, Ed (SELLER)            2019           AMEX
17        Smith, Sarah (SELLER)            2013           AMEX
18      Anderson, John (SELLER)            2011     MASTERCARD
19  Corkland, Chris H. (SELLER)            2017     MASTERCARD
20      Erhnst, Freddy (SELLER)            2005     MASTERCARD
21     Franklin, Colin (SELLER)            2016     MASTERCARD
22     Garfield, Billy (SELLER)            2013           AMEX
23     Johnstin, Billy (SELLER)            2014           AMEX
24      Jones, Bill A. (SELLER)            2010           VISA
25          Rich, Anne (SELLER)            2007           VISA
26        Smith, Annie (SELLER)            2010           VISA
27     Franklin, Annie  (BUYER)            2006           VISA
28  Garfield, Chris H.  (BUYER)            2011           VISA
30    Johnstin, Freddy  (BUYER)            2019           VISA
31        Jones, Colin  (BUYER)            2010           VISA
32       Rich, John R.  (BUYER)            2007           VISA
33      Anderson, Anne  (BUYER)            2005           AMEX
34     Corkland, Sarah  (BUYER)            2013           AMEX
35        Erhnst, John  (BUYER)            2010           AMEX
36  Franklin, Chris H. (SELLER)            2012           AMEX
37    Garfield, Freddy (SELLER)            2012           AMEX
38            Rich, Ed (SELLER)            2019           AMEX
39        Smith, Sarah (SELLER)            2013           AMEX
40      Anderson, John (SELLER)            2011           AMEX
41  Corkland, Chris H. (SELLER)            2017           AMEX
42      Erhnst, Freddy (SELLER)            2005           AMEX
43     Franklin, Colin (SELLER)            2016           AMEX
44     Garfield, Billy (SELLER)            2013          CHECK
45     Johnstin, Billy (SELLER)            2014          CHECK

                 NAME HOME_STATE EDUCATION_LEVEL   AGE
0      Billy Anderson         NY        GRADUATE  52.0
1    Bill A. Corkland         NY        GRADUATE  33.0
2         Anne Erhnst         NY        GRADUATE  30.0
3      Annie Franklin         CA     HIGH SCHOOL  21.0
4   Chris H. Garfield         CA     HIGH SCHOOL  49.0
6     Freddy Johnstin         CA     HIGH SCHOOL  28.0
7         Colin Jones         CA        GRADUATE  31.0
8        John R. Rich         CA       BACHELORS  47.0
9       Anne Anderson         NY    PROFESSIONAL  55.0
10     Sarah Corkland         OK        GRADUATE  49.0
11        John Erhnst         AR        GRADUATE  32.0
12  Chris H. Franklin         AR        GRADUATE  52.0
13    Freddy Garfield         AR     HIGH SCHOOL  24.0
14     Colin Johnstin         AR     HIGH SCHOOL  34.0
15      John R. Jones         FL     HIGH SCHOOL  24.0
16            Ed Rich         NY        GRADUATE  54.0
17        Sarah Smith         NY       BACHELORS  40.0
18      John Anderson         NY       BACHELORS  40.0
19  Chris H. Corkland         CA    PROFESSIONAL  20.0
20      Freddy Erhnst         CA        GRADUATE  45.0
21     Colin Franklin         CA        GRADUATE  41.0
22     Billy Garfield         CA        GRADUATE  18.0
23     Billy Johnstin         CA     HIGH SCHOOL  39.0
24      Bill A. Jones         NY     HIGH SCHOOL  19.0
25          Anne Rich         NY     HIGH SCHOOL  22.0
26        Annie Smith         OK        GRADUATE  24.0
27     Annie Franklin         CA     HIGH SCHOOL  21.0
28  Chris H. Garfield         CA     HIGH SCHOOL  49.0
30    Freddy Johnstin         CA     HIGH SCHOOL  28.0
31        Colin Jones         CA        GRADUATE  31.0
32       John R. Rich         CA       BACHELORS  47.0
33      Anne Anderson         NY    PROFESSIONAL  55.0
34     Sarah Corkland         OK        GRADUATE  49.0
35        John Erhnst         AR        GRADUATE  32.0
36  Chris H. Franklin         AR        GRADUATE  52.0
37    Freddy Garfield         AR     HIGH SCHOOL  24.0
38            Ed Rich         NY        GRADUATE  54.0
39        Sarah Smith         NY       BACHELORS  40.0
40      John Anderson         NY       BACHELORS  40.0
41  Chris H. Corkland         CA    PROFESSIONAL  20.0
42      Freddy Erhnst         CA        GRADUATE  45.0
43     Colin Franklin         CA        GRADUATE  41.0
44     Billy Garfield         CA        GRADUATE  18.0
45     Billy Johnstin         CA     HIGH SCHOOL  39.0